<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página Principal</title>
</head>
<body>
	<h1>Bienvenido</h1>
	<nav>
		<ul>

			<li><a th:href="@{/usuarios}">Lista de Usuarios</a></li>
			<li><a th:href="@{/direcciones}">Lista de Direcciones</a></li>
			<li><a th:href="@{/articulos}">Lista de Artículos</a></li>
			<li><a th:href="@{/pagos}">Lista de Pagos</a></li>
			<li><a th:href="@{/transacciones}">Lista de Transacciones</a></li>
		</ul>
	</nav>
</body>
</html>

