
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${add} ? 'Nuevo usuario' : 'Actualizar usuario'"></title>
</head>
<body>
	<h1 th:text="${add} ? 'Nuevo usuario' : 'Actualizar usuario'" />
	<br>
	<br>
	<form th:action="@{/usuarios/save}" th:object="${usuarioDTO}"
		method="POST">
		<table border="0">
			<tr th:if="${usuarioDTO.id}">
				<td>id</td>
				<td>:</td>
				<td><input type="text" th:field="*{id}" readonly /></td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td>:</td>
				<td><input type="text" th:field="*{nombre}" /></td>
			</tr>
			<tr>
				<td>Apellidos</td>
				<td>:</td>
				<td><input type="text" th:field="*{apellidos}" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td>:</td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>Fecha nac</td>
				<td>:</td>
				<td><input type="text" th:field="*{fechaNacimiento}" /></td>
			</tr>
			<tr>
				<td>Nombre user</td>
				<td>:</td>
				<td><input type="text" th:field="*{nombreUsuario}" /></td>
			</tr>
			<tr>
				<td>Contra</td>
				<td>:</td>
				<td><input type="password" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>Telefono</td>
				<td>:</td>
				<td><input type="tel" th:field="*{telefono}" /></td>
			</tr>
			<tr>
				<td>Imagen</td>
				<td>:</td>
				<td><input type="text" th:field="*{imagen}" /></td>
			</tr>
			<tr>
				<td>Activo</td>
				<td>:</td>
				<td><input type="text" th:field="*{activo}" /></td>
			</tr>
			<tr>
				<td>Plan</td>
				<td>:</td>
				<td><input type="text" th:field="*{plan}" /></td>
			</tr>
			<tr>
				<td>Rol</td>
				<td>:</td>
				<td><input type="text" th:field="*{rol}" /></td>
			</tr>
		</table>
		<input type="submit" th:value="${add} ? 'Nuevo' : 'Actualizar'" />
	</form>
	<br>
	<a th:href="@{/usuarios}">Volver a la lista de usuarios</a>
</body>
</html>