<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
			<header th:insert="~{fragments/header.html}"></header>

	<div>
		<h1>USUARIOS</h1>
		<h2 th:if="${listaUsuarioDTO.isEmpty()}">No hay usuarios en la BBDD</h2>
		<div th:if="${!listaUsuarioDTO.isEmpty()}">
			<table border="1">
				<thead>
					<tr>
						<td>ID</td>
						<td>Nombre</td>
						<td>Apellidos</td>
						<td>Email</td>
						<td>Fecha nacimiento</td>
						<td>Nombre usuario</td>
						<td>Contraseña</td>
						<td>Telefono</td>
						<td>Imagen</td>
						<td>Activo</td>
						<td>Plan</td>
						<td>Rol</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuarioDTO : ${listaUsuarioDTO}">
						<td th:text="${usuarioDTO.id}"></td>
						<td th:text="${usuarioDTO.nombre}"></td>
						<td th:text="${usuarioDTO.apellidos}"></td>
						<td th:text="${usuarioDTO.email}"></td>
						<td th:text="${usuarioDTO.fechaNacimiento}"></td>
						<td th:text="${usuarioDTO.nombreUsuario}"></td>
						<td th:text="${usuarioDTO.password}"></td>
						<td th:text="${usuarioDTO.telefono}"></td>
						<td th:text="${usuarioDTO.imagen}"></td>
						<td th:text="${usuarioDTO.activo}"></td>
						<td th:text="${usuarioDTO.plan}"></td>
						<td th:text="${usuarioDTO.rol}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<td><a th:href="@{/}">Inicio</a></td>
		<br>
		<td><a th:href="@{/usuarios/add}">Alta usuarios</a></td>
	</div>
</body>
</html>